data/
.env
monitoring/config/homeassistant.token
streaming/config
network/config/etc-dnsmasq.d/*
network/config/etc-pihole/*
!network/config/etc-dnsmasq.d/03-custom-dns.conf
network/config/acme_letsencrypt.json
security/config/*
!security/config/acquis.yaml
!security/config/config.yaml
smarthome/config/*
!smarthome/config/configuration.yaml
!smarthome/config/mosquitto.conf
torrent/config
