data/
.env
network/config/traefik/cf_*
monitoring/config/homeassistant.token
streaming/config
network/config/etc-dnsmasq.d/*
network/config/etc-pihole/*
!network/config/etc-dnsmasq.d/03-custom-dns.conf
network/config/traefik/*.json
security/config
!security/config/acquis.d
!security/config/config.yaml
smarthome/config/*
!smarthome/config/configuration.yaml
!smarthome/config/mosquitto.conf
download/config
NOOP
